@import "tailwindcss";

:root {
  --primary: #38bdf8;
  --bg-page: #0f172a;
  --bg-card: #1e293b;
  --text-main: #f8fafc;
  --text-muted: #94a3b8;
  --success: #34d399;
  --warning: #fbbf24;
  --error: #f87171;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-page {
  background-color: var(--bg-page);
}

.bg-card {
  background-color: var(--bg-card);
}

.text-main {
  color: var(--text-main);
}

.text-muted {
  color: var(--text-muted);
}
