@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "tailwindcss";

@theme {
  /* O Tailwind vai criar bg-primary, text-primary, etc */
  --color-primary: #38bdf8;

  /* Nomeando como "page", ele cria bg-page, text-page */
  --color-page: #0f172a;

  /* Nomeando como "card", ele cria bg-card */
  --color-card: #1e293b;

  /* Nomeando como "main", ele cria text-main, bg-main */
  --color-main: #f8fafc;

  /* Nomeando como "muted", ele cria text-muted */
  --color-muted: #94a3b8;

  --color-success: #34d399;
  --color-warning: #fbbf24;
  --color-error: #f87171;

  --font-family-sans: "Inter", sans-serif;
  --font-title: "Bebas Neue", sans-serif;
}
